.container{
    margin-top: 2% !important;
}

.car_name{
    font-size: 45px;
    font-weight: bold;
}

.car_spec_text{
    font-size: 35px;
    font-weight: bold;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.car_optional_text{
    font-size: 35px;
    font-weight: bold;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.form-control{
    max-width: 400px;
}

#price_section{
    margin-top: 5% !important;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary,
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    background-color: #9B334E !important;
    border-color: #9B334E !important;

}