.Znavbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
    display: block;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .Zcontainer-fluid:after, .Zcontainer-fluid:before, .Zcontainer:after, .Zcontainer:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .Znav:after, .Znav:before, .Znavbar-collapse:after, .Znavbar-collapse:before, .Znavbar-header:after, .Znavbar-header:before, .Znavbar:after, .Znavbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .Zcontainer-fluid:after, .Zcontainer:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .Znav:after, .Znavbar-collapse:after, .Znavbar-header:after, .Znavbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .Zcontainer-fluid:after, .Zcontainer-fluid:before, .Zcontainer:after, .Zcontainer:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .Znav:after, .Znav:before, .Znavbar-collapse:after, .Znavbar-collapse:before, .Znavbar-header:after, .Znavbar-header:before, .Znavbar:after, .Znavbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
*, ::after, ::before {
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Zcontainer-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px){
    .Zcontainer-fluid>.Znavbar-collapse, .Zcontainer-fluid>.Znavbar-header, .Zcontainer>.Znavbar-collapse, .Zcontainer>.Znavbar-header {
        margin-right: 0;
        margin-left: 0;
    }}
.Zcontainer-fluid>.Znavbar-collapse, .Zcontainer-fluid>.Znavbar-header, .Zcontainer>.Znavbar-collapse, .Zcontainer>.Znavbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px){
    .Znavbar-header {
        float: left;
    }}
@media (min-width: 768px){
    .Znavbar>.Zcontainer .Znavbar-brand, .Znavbar>.Zcontainer-fluid .Znavbar-brand {
        margin-left: -15px;
    }}
.Znavbar-inverse .Znavbar-brand {
    color: #9d9d9d;
}
.Znavbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
a {
    background-color: transparent;
}
@media (min-width: 768px){
    .Znavbar-right {
        float: right!important;
        margin-right: -15px;
    }}
@media (min-width: 768px){
    .Znavbar-nav {
        float: left;
        margin: 0;
    }}
.Znavbar-nav {
    margin: 7.5px -15px;
}
.Znav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
@media (min-width: 768px){
    .Znavbar-nav>li {
        float: left;
    }}
.Znav>li {
    position: relative;
    display: block;
}
.Znav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.Znavbar-inverse .Znavbar-nav>li>a {
    color: #9d9d9d;
}
@media (min-width: 768px){
    .Znavbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }}
.Znavbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.Znav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.Zdropdown, .dropup {
    position: relative;
}

.Zcaret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.Znavbar-nav>li>.Zdropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (min-width: 768px){
    .Znavbar-right .Zdropdown-menu {
        right: 0;
        left: auto;
    }}
.Zdropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.Znavbar-nav>li>.Zdropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.open>.Zdropdown-menu {
    display: block;
    background-color: #9B334E;
}
.Zdropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
@media (min-width: 768px){
    .Znavbar-right .Zdropdown-menu {
        right: 0;
        left: auto;
    }}
.open>.Zdropdown-menu {
    display: block;
}


.Zcontainer-fluid{
    background-color: #9B334E;
}

.Znavbar-inverse .Znavbar-nav>.open>a, .Znavbar-inverse .Znavbar-nav>.open>a:focus, .Znavbar-inverse .Znavbar-nav>.open>a:hover {
    color: #fff;
    background-color: #9B334E;
}
.Znavbar-brand>img{
    margin-top:-4px;
}
.Znavbar {
    border-radius: 0;
    background-color: #9B334E;
}
.Znavbar-inverse {
    background-color: #9B334E;
    border-color: #9B334E;
}
.open>.Zdropdown-menu {
    display: block;
    background-color: #9B334E;
}
.Zdropdown-menu>li>a:focus, .Zdropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #9B3340;
}
.Zdropdown-menu>li>a {
    color: white;
    text-decoration: none;
}
.Znavbar-inverse .Znavbar-nav>li>a {
    font-size: 14px;
    color: white;
    text-decoration: none !important;
}