td{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

img, svg{
    max-width: 200px; !important;
    max-height: 100px; !important;
    height: auto; !important;
    width: auto; !important;
}

th{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

#order_list_text{
    font-size: 40px;
    font-weight: bold;
}

#estimate_list_text{
    font-size: 40px;
    font-weight: bold;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary,
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    background-color: #9B334E !important;
    border-color: #9B334E !important;
    color: white !important;

}