@media (max-width: 830px) and (orientation: landscape)  {
    input.carDetail {
        width: 40%;
        border-bottom: solid #dec717;
        font-size: 2vw;
    }
    input.carDetail:hover {
        background: #9B334E;
    }

    label.carDetail{
        font-size: 3vw;
    }

    input.autoName{
        margin-top: 10px;
        width: 60%;
        background: none;
        border: none;
        font-size: 3vw;
        border-bottom: solid #dec717;
    }

    label.autoName{
        margin-top: 10px;
        font-size: 3vw;
    }

    table.characteristics{
        position: relative;
        margin-top: 15px;
        margin-left: 15%;
        background: white;
        width: 70%;
        height: 30%;
        border: 2px solid #dec717;

    }
    #buttonAddCar:hover{
        background: #800000;
    }
    #buttonAddCar{
        background: #9B334E;
        color: white;
        position: relative;
        margin-left: 35%;
        margin-top: 50px;
        width: 30%;
        font-size: 2.5vw;
        border-bottom:2px solid #dec717;
        border-radius: 15px;
        padding: 10px;
    }
    #divAutoName{
        position: relative;
        margin-top: 10px;
        margin-left: 25%;
        width: 40%;
    }
    #divImage{
        margin-top: 20px;
        position: relative;
        margin-left: 20%;
        width: 75%;
    }
    #img_prev{
        margin-top: 5px;
        margin-bottom: 15px;
        max-width: 100%;
        max-height: 80%;
        position: relative;
        left: 5%;
    }
    input[type=file]{
        font-size: 2vw;
        font-family: Arial;
        font-style: normal;
    }
    input[type=file]::-webkit-file-upload-button {
        border-bottom: medium solid #dec717;
        border-radius: 20px;
        width: 70%;
        font-size: 3vw;
        color: white;
        padding: 10px;
        background-color: #9B334E;
    }
    input[type=file]::-webkit-file-upload-button:hover {
        background-color: #800000;
    }
    .footer{
        width: 100%; !important;
        height: 4em; !important;
    }
    .detailTitle{
        font-size: 5vw;
    }
}


@media (max-width: 1024px) and (orientation: portrait) {
    input.carDetail {
        width: 40%;
        border-bottom: solid #dec717;
        font-size: 2vw;
    }
    input.carDetail:hover {
        background: #9B334E;
    }

    label.carDetail{
        font-size: 3vw;
    }

    input.autoName{
        margin-top: 10px;
        width: 60%;
        background: none;
        border: none;
        font-size: 3vw;
        border-bottom: solid #dec717;
    }

    label.autoName{
        margin-top: 10px;
        font-size: 3vw;
    }

    table.characteristics{
        position: relative;
        margin-top: 15px;
        margin-left: 15%;
        background: white;
        width: 70%;
        height: 30%;
        border: 2px solid #dec717;

    }
    #buttonAddCar:hover{
        background: #800000;
    }
    #buttonAddCar{
        background: #9B334E;
        color: white;
        position: relative;
        margin-left: 35%;
        margin-top: 50px;
        width: 30%;
        font-size: 2.5vw;
        border-bottom:2px solid #dec717;
        border-radius: 15px;
        padding: 10px;
    }
    #divAutoName{
        position: relative;
        margin-top: 10px;
        margin-left: 25%;
        width: 40%;
    }
    #divImage{
        margin-top: 20px;
        position: relative;
        margin-left: 20%;
        width: 75%;
    }
    #img_prev{
        margin-top: 5px;
        margin-bottom: 15px;
        max-width: 100%;
        max-height: 80%;
        position: relative;
        left: 5%;
    }
    input[type=file]{
        font-size: 2vw;
        font-family: Arial;
        font-style: normal;
    }
    input[type=file]::-webkit-file-upload-button {
        border-bottom: medium solid #dec717;
        border-radius: 20px;
        width: 70%;
        font-size: 3vw;
        color: white;
        padding: 10px;
        background-color: #9B334E;
    }
    input[type=file]::-webkit-file-upload-button:hover {
        background-color: #800000;
    }
    .footer{
        width: 100%; !important;
        height: 4em; !important;
    }
    .detailTitle{
        font-size: 5vw;
    }
}

@media (min-width: 831px) and (orientation: landscape){
    input.carDetail {
        width: 40%;
        background: #9B334E;
        font-size: 1vw;
        color: white;
    }
    input.carDetail:hover {
        background: #800000;
    }

    label.carDetail{
        font-size: 1vw;
        color: white;
    }
    input.autoName{
        width: 15%;
        background: none;
        border: none;
        border-bottom: solid #dec717;
    }

    table.characteristics{
        position: absolute;
        top: 20%;
        right: 1%;
        background: #9B334E;
        width: 30%;
        height: 51%;
        border-right: medium solid #dec717;
        border-top: medium solid #dec717;
        border-bottom: medium solid #dec717;
    }
    #buttonAddCar:hover{
        background: #800000;
    }
    #buttonAddCar{
        background: #9B334E;
        position: absolute;
        left: 30%;
        top: 69%;
        width: 15%;
        height: 5%;
        text-align: center;
        font-size: 1.5vw;
        color: white;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding-bottom: 30px;
    }
    #divAutoName{
        position: absolute;
        top: 20.5%;
        left: 5%;
        width: 64%;
    }
    #divImage{
        top: 30%;
        position: absolute;
        left: 5%;
        width: 64%;
    }
    #img_prev{
        margin-top: 5px;
        max-width: 30%;
        max-height: 20%;
        position: relative;
        left: 5%;
    }
    input[type=file]::-webkit-file-upload-button {
        border-bottom: medium solid #dec717;
        border-radius: 20px;
        background-color: #9B334E;
        color: white;

    }
    input[type=file]::-webkit-file-upload-button:hover {
        background-color: #800000;
    }
    .detailTitle{
        font-size: 2vw;
        color: white;
    }
    .footer{
        position: absolute; !important;
        bottom: 0%; !important;
        width: 100%; !important;
        height: 4em; !important;
    }

}
#footer{
    width: 100%;
}
#header{
    width: 100%;
}
#container{
    width: 100%;
}