@media (max-width: 830px) and (orientation: landscape)  {
    hr{
        border: 1px solid #dec717;
        width: 80%;
        alignment: left;
        margin-left: 10%;
        margin-top: 30px;
        position: relative;

    }
    label.carDetail{
        font-size: 3vw;
        border-bottom: solid #9b334e;
    }
    .autoName{
        width: 50%;
        font-size: 5vw;
        background: none;
        border: none;
        border-bottom: solid #dec717;
        margin-left: 10px;
    }

    table.characteristics{
        position: relative;
        margin-top: 30px;
        margin-left: 17%;
        width: 70%;
        height: 40%;
        margin-bottom: 2px;
        border: 1px solid #dec717;
    }
    #buttonUpdateCar:hover{
        background: #800000;
    }
    #buttonUpdateCar{
        background: #9b334e;
        position: relative;
        color: #d0d0d0;
        margin-left: 37.5%;
        margin-top: 50px;
        width: 30%;
        font-size: 3vw;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding: 10px;
    }
    #buttonDeleteCar:hover{
        background: #800000;
    }
    #buttonDeleteCar{
        background: #9b334e;
        position: relative;
        color: #d0d0d0;
        margin-top: 5px;
        margin-left: 40%;
        width: 25%;
        font-size: 3vw;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding: 10px;
    }
    #divAutoName{
        position: relative;
        margin-top: 30px;
        margin-left: 15%;
        width: 59%;
    }
    #divImage{
        margin-top: 30px;
        position: relative;
        margin-left: 17%;

    }
    #img_carL{
        max-width: 150%;
        max-height: 80%;
        position: relative;

    }
    .matita{
        max-width: 3%;
        max-height: 3%;
    }
    .matita_table{
        max-width: 8%;
        max-height: 8%;
    }
    .matita_img{
        position: relative;
        left: 10%;
        max-width: 3%;
        max-height: 3%;
    }
    .matita:hover{
        max-width: 2%;
        max-height: 2%;
        border-bottom: 2px solid #dec717;
    }
    .matita_table:hover{
        max-width: 5%;
        max-height: 5%;
        border-bottom: 2px solid #dec717;
    }
    .matita_img:hover{
        position: relative;
        left: 10%;

        max-width: 2%;
        max-height: 2%;
        border-bottom: 2px solid #dec717;
    }

    input[type=file]::-webkit-file-upload-button {
        border-bottom: medium solid #dec717;
        border-radius: 5px;
        background-color: #9b334e;
    }
    input[type=file]::-webkit-file-upload-button:hover {
        background-color: #800000;
    }
}


@media (max-width: 1024px) and (orientation: portrait) {
    hr{
        border: 1px solid #dec717;
        width: 80%;
        alignment: left;
        margin-left: 10%;
        margin-top: 30px;
        position: relative;

    }
    label.carDetail{
        font-size: 3vw;
        border-bottom: solid #9b334e;
    }
    .autoName{
        width: 50%;
        font-size: 5vw;
        background: none;
        border: none;
        border-bottom: solid #dec717;
        margin-left: 10px;
    }

    table.characteristics{
        position: relative;
        margin-top: 30px;
        margin-left: 17%;
        width: 70%;
        height: 40%;
        margin-bottom: 2px;
        border: 1px solid #dec717;
    }
    #buttonUpdateCar:hover{
        background: #800000;
    }
    #buttonUpdateCar{
        background: #9b334e;
        position: relative;
        color: #d0d0d0;
        margin-left: 37.5%;
        margin-top: 50px;
        width: 30%;
        font-size: 3vw;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding: 10px;
    }
    #buttonDeleteCar:hover{
        background: #800000;
    }
    #buttonDeleteCar{
        background: #9b334e;
        position: relative;
        color: #d0d0d0;
        margin-top: 5px;
        margin-left: 40%;
        width: 25%;
        font-size: 3vw;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding: 10px;
    }
    #divAutoName{
        position: relative;
        margin-top: 30px;
        margin-left: 15%;
        width: 59%;
    }
    #divImage{
        margin-top: 30px;
        position: relative;
        margin-left: 17%;

    }
    #img_carL{
        max-width: 150%;
        max-height: 80%;
        position: relative;

    }
    .matita{
        max-width: 3%;
        max-height: 3%;
    }
    .matita_table{
        max-width: 8%;
        max-height: 8%;
    }
    .matita_img{
        position: relative;
        left: 10%;
        max-width: 3%;
        max-height: 3%;
    }
    .matita:hover{
        max-width: 2%;
        max-height: 2%;
        border-bottom: 2px solid #dec717;
    }
    .matita_table:hover{
        max-width: 5%;
        max-height: 5%;
        border-bottom: 2px solid #dec717;
    }
    .matita_img:hover{
        position: relative;
        left: 10%;

        max-width: 2%;
        max-height: 2%;
        border-bottom: 2px solid #dec717;
    }

    input[type=file]::-webkit-file-upload-button {
        border-bottom: medium solid #dec717;
        border-radius: 5px;
        background-color: #9b334e;
    }
    input[type=file]::-webkit-file-upload-button:hover {
        background-color: #800000;
    }
}


@media (min-width: 831px) and (orientation: landscape){
    hr{
        border: medium solid #dec717; !important;
        width: 50%; !important;
        alignment: left; !important;
        margin-left: 10%; !important;
        position: absolute; !important;
        bottom: 21%; !important;
    }
    label.carDetail{
        font-size: 1vw;
    }
    .autoName{
        width: 20%;
        font-size: 2.3vw;
        background: none;
        border: none;
        border-bottom: solid #dec717;
        margin-left: 10px;
    }

    table.characteristics{
        position: absolute;
        top: 17%;
        right: 1%;
        background: #9b334e;
        width: 30%;
        height: 51%;
        border-right: medium solid #dec717;
        border-top: medium solid #dec717;
        border-bottom: medium solid #dec717;
    }

    #buttonUpdateCar:hover{
        background: #800000;
    }
    #buttonUpdateCar{
        background: #9b334e;
        position: absolute;
        left: 30%;
        top: 63%;
        width: 15%;
        height: 5%;
        font-size: 1.5vw;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding-bottom: 5px;
    }
    #buttonDeleteCar:hover{
        background: #800000;
    }
    #buttonDeleteCar{
        background: #9b334e;
        position: absolute;
        top: 69%;
        left: 32%;
        width: 12%;
        height: 5%;
        font-size: 1.5vw;
        border-bottom:medium solid #dec717;
        border-radius: 20px;
        padding-bottom: 5px;
    }
    #divAutoName{
        position: absolute;
        top: 20.5%;
        left: 5%;
        width: 59%;
    }
    #divImage{
        top: 23%;
        position: absolute;
        left: 5%;
        width: 59%;
    }
    #img_carL{
        max-width: 40%;
        max-height: 30%;
        position: relative;
        left: 10%;
    }
    .matita{
        max-width: 2%;
        max-height: 2%;
    }
    .matita_table{
        max-width: 5%;
        max-height: 5%;
    }
    .matita_img{
        position: relative;
        left: 10%;
        max-width: 2%;
        max-height: 2%;
    }
    .matita:hover{
        max-width: 2%;
        max-height: 2%;
        border-bottom: 2px solid #dec717;
    }
    .matita_table:hover{
        max-width: 5%;
        max-height: 5%;
        border-bottom: 2px solid #dec717;
    }
    .matita_img:hover{
        position: relative;
        left: 10%;

        max-width: 2%;
        max-height: 2%;
        border-bottom: 2px solid #dec717;
    }

    input[type=file]::-webkit-file-upload-button {
        border-bottom: medium solid #dec717;
        border-radius: 20px;
        background-color: #9b334e;
    }
    input[type=file]::-webkit-file-upload-button:hover {
        background-color: #800000;
    }

    .footer{
        position: absolute; !important;
        bottom: 0%; !important;
        width: 100%; !important;
        height: 4em; !important;
    }
}
