@media (max-width: 830px) and (orientation: landscape)  {
    .FAQcloud{
        font-size: 1.5vw !important;
        margin-right: 0 !important;
    }

    .imgIcon{
        max-width: 40% !important;
        max-height: 40% !important;
    }
    .FAQsubtitle{
        font-size: 2.5vw !important;
        margin-right: 22% !important;
    }
}
@media (max-width: 1024px) and (orientation: portrait) {
    .FAQh3{
        font-size: 3vw !important;
    }
    .FAQtitle{
        font-size: 5vw !important;
    }
    .FAQsubtitle{
        font-size: 3vw !important;
        margin-right: 20% !important;
    }
    .FAQcloud{
        font-size: 2.5vw !important;
        margin-right: 0 !important;
    }

    .imgIcon{
        max-width: 50% !important;
        max-height: 50% !important;
    }
    .FAQ p{
        font-size: 2vw !important;
    }

    .FAQ button{
        font-size: 2vw !important;
    }
    .buttondiv{
        font-size: 3vw !important;
    }
    .TitleDiv{
        margin-bottom: 45% !important;
    }
}
@media (min-width: 830px) and (max-width: 1025px) and (orientation: portrait){
    .TitleDiv{
        margin-bottom: 65% !important;
    }
}
@media (min-height: 767px) and (max-height: 770px) and (min-width: 1023px) and (max-width: 1025px) and (orientation: landscape){
    .TitleDiv{
        margin-bottom: 15% !important;
    }
    .FAQcloud{
        font-size: 1.5vw !important;
        margin-right: 0 !important;
    }

    .imgIcon{
        max-width: 40% !important;
        max-height: 40% !important;
    }
    .FAQsubtitle{
        font-size: 2.5vw !important;
        margin-right: 22% !important;
    }
}
@media (min-height: 1023px) and (max-height: 1025px) and (min-width: 1364px) and (max-width: 1370px) and (orientation: landscape){
    .TitleDiv{
        margin-bottom: 25% !important;
    }
    .FAQcloud{
        font-size: 1.5vw !important;
        margin-right: 0 !important;
    }

    .imgIcon{
        max-width: 40% !important;
        max-height: 40% !important;
    }
    .FAQsubtitle{
        font-size: 2.5vw !important;
        margin-right: 22% !important;
    }
}
.container{
    margin-left: 10%;
}
.card.FAQ{
    display: flow-root;
    width: 100%;
    margin-top: 0;
    margin-bottom: 4%;
    border-radius: 3px;
    border-color: #9B334E;
    z-index: 10;
}
.TitleDiv{
    display: flow-root;
    width: 100%;
    text-align: right;
    vert-align: bottom;
    position: relative;
    margin-top: -5%;
}

.FAQh3{
    text-align: center;
    font-size: 2vw;
}
.FAQtitle{
    font-size: 3vw;
}
.FAQsubtitle{
    font-size: 2vw;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25%;
}
.FAQcloud{
    font-size: 0.8vw;
    font-style: oblique;
    font-family: "Baskerville Old Face";
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border: 1px solid #dec717;
    border-radius: 15px;
    margin-left: -10%;
    margin-top: -2.5%;
    margin-right: 10%;
}

.imgIcon{
    max-width: 25%;
    max-height: 25%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    filter: flipH();
    filter: alpha(opacity=30);
}
.FAQ p{
    display: none;
    text-align: justify;
    font-size: 1vw;
    background-color: #9B334E;
    border-radius: 6px;
    padding: 10px;
    color: white;
    margin: 5px;
}

.FAQ button{
    background-color: #9B334E;
    font-size: 1.3vw;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.FAQ button:hover{
    background: #800000;
    border-bottom: medium solid #dec717;
}
.domandeContainer{
    display: none;
    width: 100%;
    margin-top: 5%;
    border-radius: 3px;
    border-color: #9B334E;
}
.buttondiv{
    background: #9B334E;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    border-bottom: medium solid #dec717;
    border-radius: 20px;
    padding-bottom: 5px;
    position: relative;
    left: 10%;
    margin: 5px;
    z-index: 10;
}
.buttondiv:hover{
    background: #800000;
}
