.flex {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.CarImg{
    max-width: 100%;
    max-height: 90%;
}

.flex>.obj {
    padding: 0;
    width: 30%;
    height: auto;
    margin: 0px;
    margin-bottom:2%;
    line-height: 1em;
    color: black;
    font-family:Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
}

.flex>.obj:hover{
    box-shadow:  10px  10px 5px #dedede,
    -10px -10px 5px #dedede,
    10px -10px 5px #dedede,
    -10px  10px 5px #dedede;
}

.carInfo{
    font-family: sans-serif;
    font-size: 1.1em;
    margin-bottom: 2%;
}

.customselect{
    float: left;
    position: relative;
    max-width: 10%;
    min-width:5%;
    margin: 0 auto;
    margin-right:2%;
    border: 0.05em solid black;
    background-color: #FFFAFF;
    z-index: 10;
}

select{
    border: 2px solid #9B334E;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 0;
    width: 20%;
    padding: 0.9em 3.5em 0.9em 0.9em !important;
    font-size: 14px !important;
    color: black;
}


.selectpicker{
    margin-left:3%;
    margin-right: 1%;
}

.cerca{
    margin-left:3%;
    padding:1em 2em;
    background-color: #9B334E;
    font-family: sans-serif;
    border:none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px !important;
}

.link {
    max-width:10%;
    float:left;
    position:relative;
    background-color: #FFFAFF;
    border: 0.01em solid black;
    color: black;
    padding: 0.5%;
    margin-right:2%;
    text-decoration: none;
    text-transform: uppercase;
}
.link:hover{
    background-color:#D5D8DC;
}

.Ricerca{
    margin-left:10%;
}

@media (max-width:900px) {
    .flex>.obj {
        padding: 0;
        width: 60%;
        height: auto;
        margin: 0px;
        margin-bottom:2%;
        line-height: 1em;
        color: black;
        font-family:Verdana, sans-serif;
        font-size: 1em;
        text-align: center;
    }

    .selectpicker{
        margin: 0;
    }

    select {
        border: none;
        outline: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        font-size: 12px !important;
        color: black;
    }

    .cerca{
        margin-left: 3%;
        width: 93%;
        font-size: 12px !important;
    }

    .link {
        font-size: 50%;
    }

    .Ricerca{
        margin:0;
    }
}

/*Image Slideshow's CSS*/
.carLink>img{
    padding-left:30%;
    max-width: 100%;
}
p{
    font-size:0.9em;
}
.carTitle{
    font-size: 1.5em;
    color:#9b334e;
    margin-bottom:0;
}
.carousel-caption{
    top: 80%;
    text-shadow: none;
    left:43% !important;
}
.carousel-inner{
    width: 80% !important;
}
@media (max-width:900px) {
    .carousel-caption{
        top:77% !important;
    }
    p{
        font-size:0.8em;
    }
    .carTitle{
        font-size: 1em;
        color:#9b334e;
    }
}