.css-slider {
    height: 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: white;
    color: darkred;
    text-align: center;
}

label {
    cursor: pointer;
    display: inline-block;
}

.slide {
    height: 50%;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 0px;
    background-color: white;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transition: left 0s .75s;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    -webkit-transition: left .65s ease-out;
    transition: left .65s ease-out;
}
header {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

.navImg {
    position: absolute;
    top: 50%;
    margin-top: -42px;
    z-index: 900;
    width: 100%;
}

.navImg label { font-size: 50px; }

header label:hover { background: #2e353b; }

.prev {
    position: absolute;
    left: 10px;
}

.next {
    position: absolute;
    right: 10px;
}

.slide .prev, .slide .next { opacity: 0; }

[id^="slide"]:checked + .slide .prev, [id^="slide"]:checked + .slide .next {
    opacity: 1;
    -webkit-transition: all .5s .5s;
    transition: all .5s .5s;
}

.slide h1 {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .5s .5s, opacity .5s;
    transition: transform .5s .5s, opacity .5s;
}

.carContainer{
    color:darkred;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.carContainer>img{
    margin-top:-13%;
}

[id^="slide"]:checked + .slide h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s .5s;
    transition: all .5s .5s;
}